---
layout:
title: About
---
{% include page_header.html %}

<h3>
    Skier, Builder, Pilot
</h3>

<p>
    I'm a versatile Yale-educated electrical engineer with a voracious appetite for learning and growing. I'm
    experienced with online advertising technology and performance media, and its intersection with e-commerce; with
    healthcare information technology; and with building large-scale data products, including predictive models for
    real-time decisioning.
</p>

<p>
    <strong>I'm deeply technical, but always business-focused.</strong>
</p>

<br/>

<div align="center" class="image-row">
    <img src="/images/air.png">
    <img src="/images/landing.png">
    <img src="/images/water.png">
</div>

{% include page_footer.html %}
