<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <title>Ross N. Feinstein - {{ page.title }}</title>
    <link rel="shortcut icon" href="/images/favicon.png"/>
    <link rel="alternate" type="application/atom+xml" href="/atom.xml"/>

    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<div class="wrapper">
    <header>
        <h1>
            <a href="/">Ross N. Feinstein</a>
        </h1>

        <h3>On building team, tech and business.</h3>

        <p><img src="/images/avatar.png"></p>

        <p><a href="/">Home</a></p>

        <p><a href="/about.html">About Me</a></p>

        <p><a href="/archive.html">Archive</a></p>

    </header>
    <section>
